<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="myTable">
            <h2><span>My Table</span> {{myTable.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Table Name</span></dt>
                <dd>
                    <span>{{myTable.tableName}}</span>
                </dd>
                <dt><span>Nb Colomn</span></dt>
                <dd>
                    <span>{{myTable.nbColomn}}</span>
                </dd>
                <dt><span>Webservice</span></dt>
                <dd>
                    <div *ngIf="myTable.webservice">
                        <a [routerLink]="['/webservice', myTable.webservice?.id, 'view']">{{myTable.webservice?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/my-table', myTable.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
